# Add Uploadthing secret and appId to setup fileupload https://uploadthing.com/
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a new NEXTAUTH_SECRET
# $ openssl rand -base64 32
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Go to github and setup the oauth configuration
# https://next-auth.js.org/providers/github#configuration
# https://github.com/settings/developers
GITHUB_ID=
GITHUB_SECRET=

# Parameters for Vercel Postgres Templates
POSTGRES_URL_NON_POOLING=
DATABASE_URL=

EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=
EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT=
EMAIL_FROM=
NEXTAUTH_DEBUG=true

NEXT_PUBLIC_TRONGRID_API_KEY=
JWT_SECRET=
QUICKNODE_API_URL=
NEXT_PUBLIC_ETH_MASTER_WALLET=
NEXT_PUBLIC_TRON_MASTER_WALLET=
NEXT_PUBLIC_TRON_CONTRACT_ADDRESS=
NEXT_PUBLIC_SOLANA_DELEGATE_WALLET=
NEXT_PUBLIC_SOLANA_RPC_ENDPOINT=



